[submodule "fbterm-truecolor"]
	path = fbterm-truecolor
	url = https://github.com/18650official/fbterm-truecolor
[submodule "pocketpy"]
	path = pocketpy
	url = https://github.com/pocketpy/pocketpy.git
[submodule "lvgl_menu"]
	path = lvgl_menu
	url = https://github.com/18650official/lvgl_menu_for_pkpy_luckfoxpico
[submodule "nofrendo_nesemu_linux"]
	path = nofrendo_nesemu_linux
	url = git@github.com:18650official/nofrendo_nesemu_linux.git
